.header {
  display: flex;
  width: 100vw;
  max-height: 100%;
}

.header .right {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin-top: 4rem;
}

.header .right .header-title h1, #header {
  font-size: 3.5vw;
  background: -webkit-linear-gradient(rgb(var(--white)) 0%, rgb(var(--aqua-glow)) 50%, rgba(var(--background-color), 0.4) 95%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 350;
}

.header .right .header-title {
  position: relative;
  margin-top: -3vw;
}

.header .right .header-title h3 {
  color: rgb(var(--white), 0.5);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
}

#subtitle {
  font-size: 0.9rem;
  color: rgb(var(--white), 0.3);
  width: 80%;
  font-weight: 300;
}

.main-subtitle {
  margin: 0 auto;
}

#subtitle a {
  color: rgba(var(--aqua-glow), 0.6);
}

#subtitle a:hover, 
#subtitle a:focus {
  text-decoration: underline;
}

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: min-content;
  padding: 2vw;
  position: relative;
}

.main .img-container {
  flex: 1;
  position: relative;
  margin-top: -3.5vw;
}

.main .img-container img {
  width: 100%;
  mask-image: 
  linear-gradient(to right, rgb(var(--background-color)) 30%, transparent 100%),
  linear-gradient(to top, rgb(var(--background-color)) 30%, transparent 100%),
  linear-gradient(to bottom, rgb(var(--background-color)) 50%, transparent 100%),
  linear-gradient(to left, rgb(var(--background-color)) 70%, transparent 100%);
  mask-composite: intersect;
}

.main .content {
  margin-left: -8vw;
  padding: 2vw;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  gap: 1vw;
  position: relative;
}

.main .content h2 {
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.15vw;
  font-family: "Jersey 10", sans-serif;
  color: rgb(var(--white), 0.5);
  position: relative;
  z-index: 2;
  font-weight: 500;
}

.main .content .glow {
  background-color: rgba(var(--aqua-glow), 0.5);
  border-radius: 100%;
  position: absolute;
  box-shadow: 0 0 20px rgb(var(--aqua-glow));
}

.main .content .glow-1 {
  width: 1.5vw;
  height: 1.5vw;
  bottom: 25%;
  left: 10%;
}

.main .content .glow-2 {
  width: 1vw;
  height: 1vw;
  top: 5%;
  right: 15%;
}

.main .content .glow-3 {
  width: 2vw;
  height: 2vw;
  top: 0%;
  right: 0%;
}

#main-button button{
  padding: 1vw 2vw;
  color: rgb(var(--white));
  background: linear-gradient(to right, rgba(47, 178, 193, 0.8), 
  rgba(0, 132, 255, 0.8)); 
  box-shadow: 0 0 3px rgba(var(--aqua-glow), 1);
  border: none;
  outline: none;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: none;
}

#main-button button:hover,
#main-button button:focus {
  background: linear-gradient(to right, rgba(47, 178, 193, 1), 
    rgba(0, 132, 255, 1)); 
  box-shadow: 0 0 3px rgba(var(--aqua-glow), 1);
}

@media screen and (orientation: portrait) {
  .header .right {
    width: 95%;
    margin-top: 3rem;
  }
  .header .right .header-title h1 {
    font-size: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(rgb(var(--white)) 0%, rgb(var(--aqua-glow)) 50%, rgba(var(--background-color), 0.4) 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #header {
    font-size: 2rem;
    align-self: flex-start;
    padding: 1rem;
  }
  .main {
    flex-direction: column;
    margin: 0 auto;
  }
  .main .content h2 {
    font-size: 1.2rem;
    font-weight: 200;
  }
  .main .img-container {
    margin-top: -1rem;
  }
  .main .content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  #main-button button{
    width: 100%;
    font-size: 0.6rem;
    padding: 0.7rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  #subtitle {
    font-size: 0.6rem;
  }
  .main-subtitle {
    margin: 0.5rem auto;
  }
  .main .content .glow {
    background-color: rgba(var(--aqua-glow), 0.25);
  }
  .main .content .glow-1 {
    width: 1.5vh;
    height: 1.5vh;
  }
  .main .content .glow-2 {
    width: 2.5vh;
    height: 2.5vh;
  }
}