.navbar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: calc(50% - 60% * 0.5);
  width: 60%;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
}
 
.navbar-container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-container .navbar .logo img {
  width: 7vw;
}
 
.navbar-container .navbar .items {
  display: flex;
  align-items: center;
  gap: 4vw;
  line-height: 2rem;
  font-size: 1vw;
  background-color: rgba(var(--background-color), 0.5);
  padding: 0.5vw 1.5vw;
  border-radius: 0.5rem;
}
 
.navbar-container .navbar .items .nav-item {
  text-decoration: none;
  color: rgba(var(--white), 0.5);
  cursor: none;
  text-transform: capitalize;
  padding: 0 1vw;
  border-radius: 0.4rem;
}

.navbar-container .navbar .items .active {
  color: rgb(var(--white));
  background-color: rgba(var(--aqua-glow), 0.4);
}

@media screen and (orientation: portrait) {
  .navbar-container {
    width: 20%;
    left: 0;
    top: 1vh;
    flex-direction: column;
  }
  .navbar-container .navbar .logo img {
    width: 8vh;
  }
  .navbar-container .navbar {
    flex-direction: column;
  }
  .navbar-container .navbar .items {
    position: fixed;
    top: 50%;
    transform: translate(-20%, -50%);
    flex-direction: column;
    background-color: rgba(var(--white), 0.05);
    border-radius: 0.5rem;
    font-size: 1vh;
    padding: 0.5vh;
  }
  .navbar-container .navbar .items .nav-item {
    width: 100%;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
  }
  .navbar-container .navbar .items .active {
    color: rgb(var(--white));
    background-color: rgba(var(--aqua-glow), 0.5);
    border: none;
  }
}