.navbar-container {
  margin: 1rem auto;
  width: 60%;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
}

.navbar-container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(var(--aqua-glow), 0.2);
}

.navbar-container .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

.navbar-container .navbar .logo img {
  width: 5vw;
}

.navbar-container .navbar .items {
  display: flex;
  align-items: center;
  gap: 4vw;
  line-height: 2rem;
  font-size: 1vw;
  background-color: rgba(var(--background-color), 0.5);
  padding: 0.5vw 1.5vw;
  border-radius: 0.5rem;
}

.navbar-container .navbar .items .nav-item {
  text-decoration: none;
  color: rgba(var(--white), 0.5);
  cursor: pointer;
  text-transform: capitalize;
  padding: 0 1vw;
  border-radius: 0.4rem;
}

.navbar-container .navbar .items .nav-item:hover,
.navbar-container .navbar .items .nav-item:focus {
  color: rgb(var(--white));
}

.navbar-container .navbar .menu {
  font-size: 0.9rem;
  color: rgba(var(--white), 0.5);
  display: none;
}

.navbar-container .navbar .menu-btn {
  display: none;
}

@media screen and (orientation: portrait) {
  .navbar-container {
    width: 95%;
  }

  .menu-btn {
    background-color: transparent;
  }

  .navbar-container .navbar {
    align-items: flex-start;
  }

  .navbar-container .navbar .menu {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-container .navbar .menu-btn {
    display: block;
  }

  .navbar-container .navbar .logo img {
    width: 8vh;
  }

  .navbar-container .navbar .items {
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0.5rem;
    display: none;
    top: -100%;
    padding: 1rem;
    animation: slideDown 0.5s ease forwards;
    right: 0;
  }

  @keyframes slideDown {
    from {
      top: -100%;
    }
    to {
      top: 10%;
    }
  }

  .navbar-container .navbar .items.show {
    display: flex;
    animation: slideDown 0.5s ease forwards;
  }
}