.navbar-container {
  margin: 1rem auto;
  width: 60%;
  line-height: 2rem;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
}

.navbar-container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  width: 6vw;
}

.navbar-container .navbar .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  line-height: 2rem;
  font-size: 0.8rem;
  background-color: rgba(var(--background-color), 0.5);
  padding: 0.5vw 1.5vw;
  border-radius: 0.5rem;
}

.navbar-container .navbar .items .nav-item {
  text-decoration: none;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  color: rgba(var(--aqua-glow), 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container .navbar .items .nav-item button {
  text-transform: capitalize;
  display: flex;
  border: 1px solid rgba(var(--aqua-glow), 1);
  box-shadow: inset 0 0 8px rgba(var(--aqua-glow), 1);
  border-radius: 100%;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: rgba(var(--aqua-glow), 1);
}

.navbar-container .navbar .items .nav-item button .icon {
  font-size: 1.25rem;
  text-align: center;
}

.navbar-container .navbar .items .active button {
  background-color: rgba(var(--aqua-glow), 1);
  box-shadow: 0 0 8px rgba(var(--aqua-glow), 1);
  color: rgba(var(--background-color), 0.8);
}

.navbar-container .navbar .items .nav-item:hover,
.navbar-container .navbar .items .nav-item:focus {
  color: rgb(var(--white));
}

.navbar-container .navbar .menu {
  font-size: 0.9rem;
  color: rgba(var(--white), 0.5);
  display: none;
}

.navbar-container .navbar .menu-btn {
  display: none;
}

@media screen and (orientation: portrait) {
  .navbar-container {
    width: 95%;
  }

  .menu-btn {
    background-color: transparent;
  }

  .navbar-container .navbar {
    align-items: flex-start;
  }

  .navbar-container .navbar .menu {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-container .navbar .menu-btn {
    display: block;
  }

  .navbar-container .navbar .logo img {
    width: 8vh;
  }

  .navbar-container .navbar .items {
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0.5rem;
    display: none;
    top: -100%;
    padding: 1rem;
    animation: slideDown 0.5s ease forwards;
    right: 0;
  }

  @keyframes slideDown {
    from {
      top: -100%;
    }
    to {
      top: 10%;
    }
  }

  .navbar-container .navbar .items.show {
    display: flex;
    animation: slideDown 0.5s ease forwards;
  }
}