@media (prefers-reduced-motion: no-preference) {
    .box {
        view-timeline-name: --item-timeline;
        animation: slide-fade-in both;
        animation-timeline: --item-timeline;
        animation-range: contain 0% contain 50%;
    } 
}

.project {
    width: 60%;
    margin: 0 auto;
}

.project .project-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.project .project-content .gallery {
    justify-content: center;
    width: 90%;
    margin: 0.5rem auto;
    display: grid;
    column-gap: 0.8vw;
    row-gap: 0.8vw;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 10rem;
}

.project .project-content .gallery .box {
    background-size: cover;
    background-position: top;
    color: rgba(var(--white), 0.6);
    display: flex;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--background-color), 0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    overflow: hidden;
}

.project .project-content .gallery .box .content {
    display: flex;
    gap: 0.5vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.project .project-content .gallery .box .content h2 {
    font-size: 1rem;
}

.project .project-content .gallery .box .content p {
    font-size: 0.8vw;
}

.project .project-content .gallery .box:hover,
.project .project-content .gallery .box:focus {
    background-color: rgba(var(--background-color), 0.9);
}

.project .project-content .gallery .box:hover .content,
.project .project-content .gallery .box:focus .content {
    opacity: 1;
}

.project .project-content .gallery .box .content a {
    text-decoration: none;
    cursor: none;
}

.project .project-content .gallery .box .content a button {
    background-color: transparent;
    border: 1px solid rgba(var(--white), 0.6);
    outline: none;
    padding: 0.3vw 1vw;
    color: rgba(var(--white), 0.6);
    border-radius: 0.2vw;
    font-size: 0.9vw;
}

.project .project-content .gallery .box .content a button:hover,
.project .project-content .gallery .box .content a button:focus {
    background-color: rgba(var(--white), 0.1);
}

.project .project-content .gallery .row-2 {
    grid-row: span 2;
}

.project .project-content .gallery .col-2 {
    grid-column: span 2;
}

.project .project-content .gallery .rotate {
    transform: rotate(-90deg);
}

.project-subtitle {
    margin: 0.5rem 0;
}

@media screen and (min-width: 990px) and (max-width: 1150px) {
    .project .project-content  {
        width: 90%;
    }
    .project .project-img  {
        width: 60%;
    }
    .project .project-content .gallery {
        grid-auto-rows: 13vw;
        width: 100%;
    }
    #humanoid {
        grid-column: span 2;
    }
    #genus {
        grid-column: span 1;
    }
}

@media screen and (max-width: 990px) {
    #ivy, #genus {
        grid-column: span 1;
    }
    .project .project-content .gallery {
        grid-auto-rows: 13vw;
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    .project {
        width: 100%;
    }
    .project .project-content {
        width: 95%;
        margin: 0 auto;
        align-items: center;
        padding-right: 0;
    }
    .project .project-content .gallery {
        grid-auto-rows: 13vh;
        width: 85%;
        column-gap: 1vh;
        row-gap: 1vh;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
    .project .project-content .gallery .box .content h2 {
        font-size: 0.6rem;
    }
    .project .project-content .gallery .box .content a button,
    .project .project-content .gallery .box .content p {
        font-size: 0.5rem;
    }
    .project .project-content .gallery .box .content a button {
        padding: 0.5vh 1.2vh;
    }
    .project-subtitle {
        margin: 0.5rem auto;
    }
}